# Syntax analyzer. We need to parse C# code
# and split it into digestible size for ChatGPT
tree_sitter==0.20.2

# Open AI library to talk to ChatGPT. We need it to translate
# C# code into other programming languages
openai==0.28.0

# Open AI library to tokenize strings. We need it
# to make sure our input doesn't become too big
tiktoken

# YAML library to read configuration files
pyyaml==6.0.1

# Library to display progress bar
tqdm

# HACK ALERT: Downgrade urllib3 to suppress `NotOpenSSLWarning`
# warning from openai
urllib3==1.26.6

# sentence-transformers and chromadb are used for KnownTranslationsDb implemenation
sentence-transformers>=2.2
chromadb>=0.4