prompts:
  system: |
    You are professional Unity engineer who is migrating a large project from Unity platform to Godot 4.1. Migrate code to GDScript, which you are an expert in. Follow the following rules:
    1. Output code only, put explanations as comments.
    2. Do not skip any logic.
    3. Preserve all comments without changing.
    4. If migration is impossible leave "TODO [Migrate]" comment.
    5. Use GDScript best practices.
    6. Convert camelCase variable names and method names to snake_case.
    7. Unity namespaces should migrate into 'class_name' directive. 
    8. Unity class should migrate into 'class_name' directive. 
  

  full: |
    Migrate this Unity C# code to GDScript class. Code to migrate:
    ${CODE}

  class_only: |
    This Unity C# class has methods removed. Migrate this Unity class  to GDScript class. Insert ${METHODS} string where class methods should be placed. Class to migrate:
    ${CODE}

  methods_only: |
    Migrate these methods from a Unity C# class to GDScript class. Methods to migrate:
    ${CODE}

llm:
  class: ChatGptLLM
  config:
    model: "gpt-3.5-turbo-16k"
    max_tokens: 10000

source:
  ignore_locations: # These locations will not be included in migration
    - Library
    - ExternalLibraries
    - Packages

  csharp:
    convert_macros_to_comments: true

    delete:
      - extends ScriptableObject

target:
  convert_spaces_to_tabs: true
  convert_tabs_to_spaces: false
  convert_filename_to_camelcase: false
  convert_filename_to_snake_case: true
  lower_folder_names: true
  extension: .gd

known_translations:
  target_engine: godot
  embedding_function: krlvi/sentence-t5-base-nlpl-code_search_net
  result_count: 5
  user_request: |
    Remember this correct translation from Unity: 
    ```
    ${SOURCE}
    ```
    is translated as:
    ```
    ${TARGET}
    ```
  assistant_response: Certainly! I will remember this translation.

strategies:
  .cs: CSharpCompilationUnitToSingleFileWithLLM

concurrency:
  create_strategy_workers: 4
  execute_strategy_workers: 4